.dashboard-wrapper{
    //padding-top: 56px;
    max-width: $__full__width;
    height: calc(100vh);
    .dashboard-in{
        height: $__inherit;
        background-color: $__white;
        background-position: $__center;
        background-size: $__cover;
        .dashboard-section{
            .section-dashboard-wrapper{
                width: 85%;
                margin-left: $__auto;
                transition: 0.5s ease;
                @include respond-below(custom1400){
                    width: 82%;
                }
                @include respond-below(custom1200){
                    width: 79%;
                }
                @include respond-below(custom992){
                    width: 100%;
                }
            }
            &::after{
                content: "";
                display: $__block;
                clear: $__both;
            }
            .dashboard-full{
                width: 95%;
                @include respond-below(custom1400){
                    width: 94%;
                }
                @include respond-below(custom1200){
                    width: 92.5%;
                }
            }
        }
    }
}